body {
	font-size: 50px;
}

#main {
	text-align: center;
	background-color: white;
	padding: 10px;
	position: relative;
	border: 10px solid;
	border-radius: 10px;
}

#main > div {
	margin: 0 auto;
	padding: 0px;
}

#my-cards, #comp-cards1, #comp-cards2, #comp-cards3, #fishbowl {
	font-size: 50px;
}

#fishbowl {
	max-width: 300px;
	max-height: 300px;
	border: 1px solid;
	border-radius: 5px;
}

#top, #middle, #bottom {
	vertical-align: top;
}

#start-goFish {
	border-radius: 20px;
	border: 1px solid;
}

#middle > div {
	display: inline-block;
	vertical-align: top;
}